<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magenest_Movie::helloworld"
            title="HelloWorld"
            module="Magenest_Movie"
            sortOrder="50"
            parent="Magento_Backend::marketing"
            resource="Magenest_Movie::helloworld"
        />
        <add
            id="Magenest_Movie::index"
            title="Helloworld Index"
            module="Magenest_Movie"
            sortOrder="55"
            parent="Magenest_Movie::helloworld"
            action="movie/index/"
            resource="Magenest_Movie::index"
        />
    </menu>
</config>
