<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Dev\Grid\Ui\DataProvider\Category\ListingDataProvider">
        <plugin name="magenest_movie_attributes" type="Magenest\Movie\Plugin\AddAttributesToUiDataProvider"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_movie_listing_data_source" xsi:type="string">MagenestMovieCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="MagenestMovieCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie</argument>
        </arguments>
    </virtualType>


    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_movie_actor_listing_data_source" xsi:type="string">MagenestActorCollection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MagenestActorCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_movie_director_listing_data_source" xsi:type="string">MagenestDirectorCollection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MagenestDirectorCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_movie_blog_listing_data_source" xsi:type="string">BlogCollection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="BlogCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_blog</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Blog</argument>
        </arguments>
    </virtualType>

    <preference for="Magenest\Movie\Api\MovieRepositoryInterface" type="Magenest\Movie\Model\MovieRepository" />
    <preference for="Magenest\Movie\Api\ActorRepositoryInterface" type="Magenest\Movie\Model\ActorRepository" />
    <preference for="Magenest\Movie\Api\BlogRepositoryInterface" type="Magenest\Movie\Model\BlogRepository" />
    <preference for="Magenest\Movie\Api\CategoryRepositoryInterface" type="Magenest\Movie\Model\CategoryRepository" />
    <preference for="Magenest\Movie\Api\Data\BlogSearchResultsInterface" type="Magenest\Movie\Model\BlogSearchResults" />
    <preference for="Magenest\Movie\Api\Data\CategorySearchResultsInterface" type="Magenest\Movie\Model\CategorySearchResults" />
    <preference for="Magenest\Movie\Api\GetBlogByIdentifierInterface" type="Magenest\Movie\Model\GetBlogByIdentifier" />
    <preference for="Magenest\Movie\Api\GetCategoryByIdentifierInterface" type="Magenest\Movie\Model\GetCategoryByIdentifier" />
    <preference for="Magenest\Movie\Api\Data\BlogInterface" type="Magenest\Movie\Model\Blog" />
    <preference for="Magenest\Movie\Api\Data\CategoryInterface" type="Magenest\Movie\Model\Category" />

    <virtualType name="Magenest\Movie\Model\Api\SearchCriteria\BlockCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magenest\Movie\Model\BlogRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magenest\Movie\Model\Api\SearchCriteria\BlockCollectionProcessor</argument>
        </arguments>
    </type>



    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="Magenest-movie-product-img" type="Magenest\Movie\Plugin\ProductMiniCartPlugin" sortOrder="5" disabled="false"/>
    </type>

    <type name="Magento\Catalog\Model\Product\Configuration\Item\ItemResolverComposite">
        <plugin name="Magenest-movie-product-img-large" type="Magenest\Movie\Plugin\ProductShoppingCartPlugin" sortOrder="15" disabled="false"/>
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="export_status" xsi:type="string">sales_order.export_status</item>
            </argument>
        </arguments>
    </virtualType>


    <type name="Magento\Customer\Model\Metadata\Form\Image">
        <plugin name="Validate_Image" type="Magenest\Movie\Plugin\Metadata\Form\Image" sortOrder="5"/>
    </type>
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="customerData" type="Magenest\Movie\Plugin\CustomerData\Customer" sortOrder="15"/>
    </type>

</config>
