<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
    "urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">


                <resource id="Magento_Backend::marketing">
                    <resource
                        id="Packt_HelloWorld::helloworld"
                        title="HelloWorld" sortOrder="60">

                        <resource
                            id="Packt_HelloWorld::index" title="HelloWorld index"/>

                        <resource id="Packt_HelloWorld::subscription"
                                  title="HelloWorld subscription"/>


                    </resource>
                </resource>


                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource
                                id="Packt_HelloWorld::config_helloworld"
                                title="HelloWorld Section"/>
                        </resource>
                    </resource>
                </resource>


            </resource>
        </resources>
    </acl>
</config>
